services:
  grafana:
    extends:
      file: .config/docker-compose-base.yaml
      service: grafana
    env_file:
      - path: .env
        required: false
    environment:
      STRIPE_API_KEY: ${STRIPE_API_KEY:-}
